
<div class='profile_page_container'>

    <h2>Welcome: <%=@user.username.upcase%><br><br><h2>
    <h3>Age: <%=@user.age%><br><br><h3>
    <h3>About Me: <br></h3>
    <p><%=@user.about%><br><br></p>

   

    <button><%= link_to "Edit Profile", edit_user_path(@user), method: 'get', :class => "button" %></button>

</div>