// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



  
  /* Create four equal columns that sits next to each other */
  // .row {
  //   display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 100%;
  //   justify-content:center;
  // }
  
  // /* Create four equal columns that sits next to each other */
  // .column {
  //   display: flex;
  //   flex-direction: column;
  //   flex-basis: 100%;
  //   flex: 10;
  // }
  
  // .column img {
  //   margin-top: 8px;
  //   vertical-align: middle;
  //   width: 100%;
  // }

  .grid-container{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: 10px;
      padding: 10px;
  }

  .grid-container > div{
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 25%;
    font-size: 16px;
  }
  

    // .column > img{
    // margin-top: 8px;
    // vertical-align: middle;
    // width: 100%;
    // }
  

