.profile_page_container{
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;

    h2{
        margin-left: 70px;
        font-family: 'PT Sans', Arial, Verdana;
        font-weight: bold;
    }
    h3{
        font-family: 'PT Sans', Arial, Verdana;
        font-weight: 500;
    }

    p{
      
        font-family: 'PT Sans', Arial, Verdana;
        padding: 0;
    
        position: relative;
        left: 0;
        outline: none;
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.15);
        background-color: white;
        font-size: 16px;
        height:auto;
        
    }
}