<div class='container'>
  <%= form_tag search_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id =>"searchInput",:placeholder =>"Search.." %>
      <div id='submitsearch' style="">
        <%= submit_tag "Search for Game", :name => nil, :id => 'submitsearch',:style =>""%>
      </div>
  <% end %>
</div>

<div class='button_location'>
  <%@categories.each do |category|%>
      <button><%= link_to category.name, category_path(category)%></button>
  <%end%>
</div>
